
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'jobs/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'jobs/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table class="table-page" border=0 cellpadding="0" cellspacing="0">
<tr><td valign=top>
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
			<li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
{% for m in menu %}
	{% if not forloop.last %}<li>{% else %}<li class="last">{% endif %}
		<a href="{% url m.url_name %}">{{m.title}}</a></li>
{% endfor %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}


<table class="table-content" border=0 cellpadding="0" cellspacing="0">
<tr>
<!-- Sidebar слева -->
	<td valign="top" class="left-chapters">
	<ul id="leftchapters">
		<li><a href="#">Дашборд</a></li>
		<li><a href="{% url 'persons' %}">Люди</a></li>
		<li><a href="{% url 'add_person' %}">Добавить человека</a></li>
		<li><a href="{% url 'orders' %}">Заявки</a></li>
		<li><a href="{% url 'add_order' %}">Добавить Заявку</a></li>
		<li><a href="#">Акты</a></li>
		<li><a href="#">Счета</a></li>
		<li><a href="{% url 'partners' %}">Заказчики</a></li>
		<li><a href="{% url 'add_partner' %}">Добавить заказчика</a></li>
		<li><a href="#">Список договоров</a></li>
		<li><a href="#">Добавить договор</a></li>
		<li><a href="#">Уведомления</a></li>
		<li class="share">
		<p>Наш канал</p>
		<a class="share-yt" href="https://www.youtube.com/channel/UClJzWfGWuGJL2t-3dYKcHTA/playlists" target="_blank" rel="nofollow"></a>
		</li>
	</ul>
</td>
<!-- Конец Sidebar'а -->
<td valign="top" class="content">
	<!-- Хлебные крошки -->
	{% block breadcrumbs %}
	{% endblock %}

<!-- Блок контента -->
	<div class="content-text">
{% block content %}
{% endblock %}
	</div>
<!-- Конец блока контента -->

</td></tr></table>
</td></tr>
<!-- Footer -->
<tr><td valign=top>
	<div id="footer">
		<p>&copy; 2023 Если вы попали сюда случайно - выходите.</p>
	</div>
</td></tr></table>
<!-- Конец footer'а и страницы -->
</body>
</html>
